.story-diagram main{
    /*
        Высот и ширина диаграммы
        Первый аргумент min - максимально допустимая высота диаграммы
        Второй аргумент min - максимально допустимая ширина диаграммы

        min(
            {высота истории} - 2 * {padding сверху/снизу} - {высота хедера},
            {ширина истории} - 2 * {padding слева/справа} - {column-gap} - {ширина блока категорий},
            19rem
        )
    */
    --diagram-size: min(
        calc(var(--story-height) - 2 * 1.8125rem - 4.875rem),
        calc(var(--story-width) - 2 * 2.625rem - 2.5rem - 19rem),
        19rem
    );

    width: 100%;
    height: 0;
    flex: 1;
    padding: 1.8125rem 2.625rem;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-self: center;
    grid-template-columns: var(--diagram-size) 19rem;
    grid-template-rows: var(--diagram-size);
    column-gap: 2.5rem;
    display: grid;
    box-sizing: border-box;
}

.story-diagram .svg_diagram,
.story-diagram .diagram_text{
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    justify-self: end;
    grid-row: 1;
    grid-column: 1;
    display: block;
}

.story-diagram .svg_diagram path:nth-child(1){
    fill: var(--diagram-fill-1);
    filter: var(--diagram-filter-1);
}

.story-diagram .svg_diagram path:nth-child(2){
    fill: var(--diagram-fill-2);
    filter: var(--diagram-filter-2);
}

.story-diagram .svg_diagram path:nth-child(3){
    fill: var(--diagram-fill-3);
    filter: var(--diagram-filter-3);
}

.story-diagram .svg_diagram path:nth-child(4){
    fill: var(--diagram-fill-4);
    filter: var(--diagram-filter-4);
}

.story-diagram .diagram_text{
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.story-diagram .diagram_text .total,
.story-diagram .diagram_text .difference{
    text-align: center;
    height: auto;
}

.story-diagram .diagram_text .total{
    margin-bottom: 0.375rem;
}

.story-diagram .diagram_text .difference{
    color: var(--text-color-sub);
    font-weight: 700;
}

.story-diagram .categories{
    width: 19rem;
    max-width: 19rem;
    height: min-content;
    align-self: center;
}

.story-diagram .category{
    padding: 1rem 0 calc(1rem - 2px);
    border-bottom: 2px solid rgba(145, 143, 138, 0.3);
}

.story-diagram .category:last-child{
    border: 0;
}

.story-diagram .category_title,
.story-diagram .category_difference,
.story-diagram .category_value{
    width: fit-content;
    display: inline-block;
}

.story-diagram .category_title{
    transform: translateY(-0.125rem);
}

.story-diagram .category_title::before{
    content: '';
    background: var(--circle-extra-background);
    box-shadow: var(--circle-extra-shadow);
    width: 1rem;
    height: 1rem;
    margin-right: 0.625rem;
    transform: translateY(0.1875rem);
    border-radius: 100%;
    display: inline-block;
}

.story-diagram .category:nth-child(1) .category_title::before{
    background: var(--circle-extra-background);
    box-shadow: var(--circle-extra-shadow);
}

.story-diagram .category:nth-child(2) .category_title::before{
    background: var(--circle-max-background);
    box-shadow: var(--circle-max-shadow);
}

.story-diagram .category:nth-child(3) .category_title::before{
    background: var(--circle-mid-background);
    box-shadow: var(--circle-mid-shadow);
}

.story-diagram .category:nth-child(4) .category_title::before{
    background: var(--circle-min-background);
    box-shadow: var(--circle-min-shadow);
}

.story-diagram .category_difference,
.story-diagram .category_value{
    color: var(--text-color-sub);
    float: right;
}

.story-diagram .category_value{
    margin-left: 1.0625rem;
}

@media screen and (orientation:portrait) {
    .story-diagram main{
        padding: 0;
        grid-template-rows: 1fr max-content;
        grid-template-columns: 100%;
        column-gap: 0;
    }

    .story-diagram .svg_diagram {
        padding: 2rem 1.5rem 1rem;
        box-sizing: border-box;
    }

    .story-diagram .diagram_text {
        margin-top: 1rem;
        width: calc(50% - 1.5rem);
        max-width: calc(50% - 1.5rem);
        min-width: calc(50% - 1.5rem);
    }

    .story-diagram .diagram_text .total{
        margin-bottom: 0.5rem;
        line-height: 2rem;
        font-size: 1.875rem;
    }
    
    .story-diagram .diagram_text .difference{
        color: var(--text-color-sub);
        line-height: 1.375rem;
        font-size: 1.25rem;
    }

    .story-diagram .categories {
        margin-bottom: 8px;
        width: 100%;
        max-width: 100%;
        padding: 0 24px;
        box-sizing: border-box;
    }
}