body,
body.theme_dark{
    --story-background: radial-gradient(
        70.24% 70.24% at 49.87% 29.76%,
        rgba(18, 12, 1, 0.9) 0%,
        #000000 100%
    );
    --text-color-main: #FCFBF7;
    --text-color-sub: #918F8A;
}

body.theme_light{
    background-color: #fff;
    --story-background: #fff;
    --text-color-main: #261C00;
    --text-color-sub: #BFBFBF;
}

.story-leaders,
.story-chart,
.story-vote,
body.theme_dark .story-leaders,
body.theme_dark .story-chart,
body.theme_dark .story-vote{
    --grayscale-coeff: 1;

    --box-extra-background: radial-gradient(91.67% 122.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%);
    --box-min-background: linear-gradient(180deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 95.38% at 38.75% 71.48%, #000000 0%, #231900 0.01%, #4D4D4D 100%);

    --box-extra-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.4);
    --box-min-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6);
}

body.theme_light .story-leaders,
body.theme_light .story-chart,
body.theme_light .story-vote{
    --grayscale-coeff: 0;

    --box-extra-background: linear-gradient(-180deg, #FFF2D1 1%, #FFD66C 100%);
    --box-min-background: linear-gradient(-180deg, #F4F4F4 1%, #E9E9E9 100%, #EAEAEA 100%);

    --box-extra-shadow: inset 0px 0px 20px 0px #FFB039,inset -1px 1px 1px 0px #FFFFFF;
    --box-min-shadow: inset 0px 0px 20px 0px #CFCFCF,inset -1px 1px 1px 0px #FFFFFF;
}

.story-chart,
body.theme_dark .story-chart{
    --box-extra-background: radial-gradient(81.14% 100% at 50% 0%, #FFA300 0%, #2D1C00 100%);
}

.story-vote,
body.theme_dark .story-vote{
    --nav-button-image: url("../images/button-dark.svg");
    --nav-button-hover-image: url("../images/button-hover-dark.svg");
    --box-min-background: radial-gradient(85.62% 148.33% at 49.85% 100%, rgba(68, 58, 42, 0.7864) 0%, rgba(0, 0, 0, 0.8) 100%);
    --box-min-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(255, 255, 255, 0.1);
}

body.theme_light .story-vote{
    --nav-button-image: url("../images/button-light.svg");
    --nav-button-hover-image: url("../images/button-hover-light.svg");
    --box-min-background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
    --box-extra-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8);
    --box-min-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5);
}

.story-diagram,
body.theme_dark .story-diagram{
    --circle-extra-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 163, 0, 0.8) 71.88%, rgba(91, 58, 0, 0.8) 100%);
    --circle-max-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(99, 63, 0, 0.5) 72.92%, rgba(15, 9, 0, 0.5) 100%);
    --circle-mid-background: radial-gradient(100% 100% at 50% 0%, rgba(41, 41, 41, 0.5) 0%, rgba(151, 151, 151, 0.5) 100%);
    --circle-min-background: radial-gradient(100% 100% at 50% 0%, rgba(62, 62, 62, 0.5) 0%, rgba(40, 40, 40, 0.5) 100%);

    --circle-extra-shadow: 0px 0px 20px -8px rgba(248, 158, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 162, 0, 0.9);
    --circle-max-shadow: 0px 0px 20px -8px rgba(147, 93, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(202, 129, 0, 0.9);
    --circle-mid-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);
    --circle-min-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);

    --separator-bakcground: rgba(145, 143, 138, 0.3);

    --diagram-fill-1: url("#diagram_gradient_dark_0");
    --diagram-fill-2: url("#diagram_gradient_dark_1");
    --diagram-fill-3: url("#diagram_gradient_dark_2");
    --diagram-fill-4: url("#diagram_gradient_dark_3");

    --diagram-filter-1: url("#diagram_filter_dark_0");
    --diagram-filter-2: url("#diagram_filter_dark_1");
    --diagram-filter-3: url("#diagram_filter_dark_2");
    --diagram-filter-4: url("#diagram_filter_dark_3");
}

body.theme_light .story-diagram{
    --circle-extra-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 239, 153, 0.32) 81.25%, rgba(255, 184, 0, 0.56) 100%);
    --circle-max-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 239, 153, 0.12) 81.25%, rgba(255, 184, 0, 0.24) 100%);
    --circle-mid-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(203, 203, 203, 0.05) 82.81%, rgba(166, 166, 166, 0.1725) 92.19%);
    --circle-min-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(228, 228, 228, 0.1) 82.81%, rgba(191, 191, 191, 0.345) 92.19%);

    --circle-extra-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.9);
    --circle-max-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
    --circle-mid-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(105, 105, 105, 0.2);
    --circle-min-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(131, 131, 131, 0.6);

    --diagram-fill-1: url("#diagram_gradient_light_0");
    --diagram-fill-2: url("#diagram_gradient_light_1");
    --diagram-fill-3: url("#diagram_gradient_light_2");
    --diagram-fill-4: url("#diagram_gradient_light_3");

    --diagram-filter-1: url("#diagram_filter_light_0");
    --diagram-filter-2: url("#diagram_filter_light_1");
    --diagram-filter-3: url("#diagram_filter_light_2");
    --diagram-filter-4: url("#diagram_filter_light_3");
}

.story-activity,
body.theme_dark .story-activity{    
    --cell-3d-min-image: url("../images/min-dark.png");
    --cell-3d-mid-image: url("../images/mid-dark.png");
    --cell-3d-max-image: url("../images/max-dark.png");
    --cell-3d-extra-image: url("../images/extra-dark.png");

    --cell-legend-min-background: radial-gradient(
        3906.1% 3815.36% at 89.06% 78.28%,
        rgba(19, 17, 16, 0.65) 0%,
        rgba(0, 0, 0, 0.65) 100%
    );
    --cell-legend-mid-background: radial-gradient(
        5752.25% 5190.32% at 74.43% 60.32%,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(35, 22, 0, 0.9) 0.01%,
        rgba(112, 92, 94, 0.9) 100%
    );
    --cell-legend-max-background: radial-gradient(
        5528.36% 3005.63% at 74.43% 75.84%, rgba(0, 0, 0, 0.9) 0%,
        rgba(33, 22, 2, 0.9) 0.01%,
        rgba(172, 113, 9, 0.9) 100%
    );
    --cell-legend-extra-background: radial-gradient(
        2258.03% 620.37% at 83.33% 88.95%,
        #201502 0%,
        #C7830A 100%
    );
    --cell-legend-step-horizontal-background: radial-gradient(
        51.52% 129.57% at 48.48% 50%,
        rgba(64, 59, 54, 0) 0%,
        rgba(19, 18, 17, 0.5) 100%
    );
    --cell-legend-step-verticals-background: radial-gradient(
        150% 252.96% at 150% 50%,
        rgba(64, 59, 54, 0.65) 0%,
        rgba(0, 0, 0, 0.65) 100%
    );

    --cell-legend-min-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2),
                              inset 1px 1px 16px rgba(112, 102, 94, 0.2);
    --cell-legend-mid-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0.2),
                              inset 2px 2px 10px rgba(93, 116, 141, 0.6);
    --cell-legend-max-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2),
                              inset 2px 2px 10px rgba(242, 159, 13, 0.2);
    --cell-legend-extra-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2),
                                inset 2px 2px 10px rgba(242, 159, 13, 0.9);
    --cell-legend-step-horizontal-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.25),
                                          inset 3px 1px 16px rgba(112, 102, 94, 0.3);
    --cell-legend-step-verticals-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.25),
                                         inset 3px 1px 16px rgba(112, 102, 94, 0.3);
}

body.theme_light .story-activity{    
    --cell-3d-min-image: url("../images/min-light.png");
    --cell-3d-mid-image: url("../images/mid-light.png");
    --cell-3d-max-image: url("../images/max-light.png");
    --cell-3d-extra-image: url("../images/extra-light.png");

    --cell-legend-min-background: radial-gradient(
        2408.25% 2730.55% at 89.06% 78.28%,
        rgba(250, 250, 250, 0.6) 0%,
        rgba(250, 250, 250, 0.6) 100%
    );
    --cell-legend-mid-background: radial-gradient(
        2408.25% 2730.55% at 89.06% 78.28%,
        rgba(250, 250, 250, 0.8) 0%,
        rgba(250, 250, 250, 0.8) 100%
    );
    --cell-legend-max-background: radial-gradient(
        68.1% 68.1% at 4.41% 31.9%,
        #FFF6DD 8.72%,
        #FFFEFA 100%
    );
    --cell-legend-extra-background: radial-gradient(
        66.02% 86.49% at -16.18% 13.51%,
        rgba(255, 186, 6, 0.85) 0%,
        #ffcb5a 100%
    );
    --cell-legend-step-horizontal-background: radial-gradient(
        2408.25% 2730.55% at 89.06% 78.28%,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%
    );
    --cell-legend-step-verticals-background: radial-gradient(
        2408.25% 2730.55% at 89.06% 78.28%,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%
    );

    --cell-legend-min-shadow: inset -1px 0px 2px rgba(250, 250, 250, 0.2), inset 1px 1px 16px rgba(106, 106, 106, 0.2);
    --cell-legend-mid-shadow: inset -1px 0px 2px rgba(250, 250, 250, 0.2), inset 1px 1px 16px rgba(106, 106, 106, 0.3);
    --cell-legend-max-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
    --cell-legend-extra-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
    --cell-legend-step-horizontal-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(103, 103, 103, 0.2);
    --cell-legend-step-verticals-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(103, 103, 103, 0.2);
}